@font-face {
    font-family: "iconfont"; /* Project id 3165798 */
    src: url('//at.alicdn.com/t/font_3165798_yprkomider.woff2?t=1643443156273') format('woff2'),
         url('//at.alicdn.com/t/font_3165798_yprkomider.woff?t=1643443156273') format('woff'),
         url('//at.alicdn.com/t/font_3165798_yprkomider.ttf?t=1643443156273') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
  }
  
  .icon-disable:before {
    content: "\e837";
  }
  
  .icon-global:before {
    content: "\e632";
  }
  
  .icon-message:before {
    content: "\e6b5";
  }
  
  .icon-wechat:before {
    content: "\e600";
  }
  
  .icon-phone:before {
    content: "\e678";
  }
  
  .icon-search:before {
    content: "\e67d";
  }
  
body {
    margin: 0px;    
}

.wrapper {
    display: grid;
    grid: 36px 80px 50px 40px 250px 250px 250px 250px 200px
        170px 170px 170px 170px 140px 300px 250px 80px 50px / 1fr 1180px 1fr; 
    margin: 0px; 
}

a {
    text-decoration: none;
}

.header {
    grid-area: 1/1/2/4;
    background-color: #f4f4f4;
    display: grid;
    grid: 40px / 1fr 73px 119.48px 106px 240px 73px 82px 75px 94px 94px 82px 80px 1fr;
    font: 12px/1.5 "Microsoft yahei",arial,Simsun,sans-serif;
    color: #666666;
}
    .header a {
        display: block;
        text-align: center;
    }
        .header a:link {
            color: #666666;
        }
        .header a:visited {
            color: #666666;
        }
        .header a:hover {
            color: #0066cc;
        }
        .header a:active {
            color: #666666;
        }
    .header > span {
        grid-area: 1/2/2/3;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .language {
        grid-area: 1/3/2/4;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .disable {
        grid-area: 1/4/2/5;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .null {
        grid-area: 1/5/2/6;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .signIn {
        grid-area: 1/6/2/7;
        display: flex;
        justify-self: center;
        align-items: center;
    }
        .signIn a:link {
            color: #0066cc;
        }
        .signIn a:visited {
            color: #0066cc;
        }
        .signIn a:hover {
            color: #0066cc;
        }
        .signIn a:active {
            color: #0066cc;
        }
    .header .signUp {
        grid-area: 1/7/2/8;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .message {
        grid-area: 1/8/2/9;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .mine {
        grid-area: 1/9/2/10;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .orders {
        grid-area: 1/10/2/11;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .help {
        grid-area: 1/11/2/12;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .header .app {
        grid-area: 1/12/2/13;
        display: flex;
        justify-self: center;
        align-items: center;
        color: #3983e5;
    }
    .app .icon-phone {
        margin-right: 25px;
    }
