nav {
    grid-area: 2/2/3/3;
    display: grid;
    grid: 80px / 253px 330px 350px 200px;
    
}

nav .logo {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
}

nav img {
    width: 100%;
    height: 100%;
}

nav .search {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .search .bar {
        border: 1px solid #8ebefc;
        border-radius: 6px;
        padding: 0px;
        margin: 0px;
        height: 30px;
        width: 326.4px;
    }
    .search .text {
        position: relative;
        left: 3px;
        bottom: 10px;
        border: none;
        height: 91%;
        outline: none;
        width: 275px;
    }
    .search .button {
        position: relative;
        background-color: #007aff;
        left: 1px;
        outline: none;
        border: 0px;
        height: 100%;
        width: 43.3px;
        border-radius: 0px 5px 5px 0px;
        -webkit-border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 0px 5px 5px 0px;
        -ms-border-radius: 0px 5px 5px 0px;
        -o-border-radius: 0px 5px 5px 0px;
}
    .search .button:hover{
        background-color: #a4cbff;
    }
    .search .icon-search {
        position: relative;
        color: #fff;
        left: 297px;
        bottom: 33px;
    }
    .null {
        grid-area: 1/3/2/4;
    }
    .tel {
        grid-area: 1/4/2/5;
        display: grid;
        grid: 1fr 1fr / auto;
        justify-content: end;
        font: 12px/1.5 "Microsoft yahei",arial,Simsun,sans-serif;;
        color: #666666;
    }
    .tel div {
        padding: 0px;
    } 
    .tel1 {
        grid-area: 1/1/2/2;
        align-self: end;
        justify-self: end;
    }
    .tel2 {
        grid-area: 2/1/3/2;
    }
